---
export const prerender = true;
const to = '/en/about';
---
<!doctype html><html lang="en"><head>
  <meta charset="utf-8" />
  <meta http-equiv="refresh" content={`0;url=${to}`} />
  <script>window.location.replace(to);</script>
</head><body></body></html>
