---
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.astro';
---

<Layout title="Home">
  <div class="rounded-2xl p-4 mb-6 bg-sky-50 border border-sky-200">
    <p class="text-sky-700 font-semibold">Tailwind ✔ Enabled</p>
  </div>
  <Welcome />
</Layout>
