---
export const prerender = true;
const to = '/en/';
---
<!doctype html><html lang="en"><head>
  <meta charset="utf-8" />
  <meta http-equiv="refresh" content={`0;url=${to}`} />
  <script>location.replace({to: to});</script>
</head><body></body></html>
